annotated-types==0.6.0
anyio==4.3.0
asgiref==3.5.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorama==0.4.4
cryptography==3.4.8
distro==1.7.0 
ecdsa==0.19.0
exceptiongroup==1.2.1
fastapi==0.110.2
fasteners==0.14.1
future==0.18.2
greenlet==3.0.3
h11==0.14.0
httplib2==0.20.2
httptools==0.6.1
idna==3.3
importlib-metadata==4.6.4
jeepney==0.7.1 
keyring==23.5.0
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.0.1
monotonic==1.6
more-itertools==8.10.0
netifaces==0.11.0
oauthlib==3.2.0
olefile==0.46
paramiko==2.9.3
passlib==1.7.4
pexpect==4.8.0
protobuf==3.12.4
ptyprocess==0.7.0
pyasn1==0.6.0
pydantic==2.7.1
pydantic_core==2.18.2
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyRFC3339==1.1
python-dateutil==2.8.1
python-decouple==3.3
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.9
pytz==2022.1
pyxdg==0.27
rsa==4.9
SecretStorage==3.3.1 
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.29
starlette==0.37.2
typing_extensions==4.11.0
